<h2 class="section-title"><span class="grad">Contributions &amp; Awards</span></h2>
<div class="cards">

  <article class="card pub-card reveal">
    <div class="pub-thumb fit-contain"><img src="https://cdnstatic.megvii.com/websiteFE/static/img/logo_new_hover.2a536506.png" alt="Megvii logo" loading="lazy"></div>
    <div class="pub-info">
      <h3 class="pub-title"><a href="https://studio.brainpp.com/competition/5?name=2022%20MegCup%20%E7%82%BC%E4%B8%B9%E5%A4%A7%E8%B5%9B&tab=rank" target="_blank" rel="noopener">The First Place in MegCup 2022</a></h3>
      <p class="pub-note">Participant. Responsible for network design and model training.</p>
      <div class="pub-links ghbtn" user="hlh981029" repo="megcup-feedback">
        <a class="btn" href="https://studio.brainpp.com/competition/5?name=2022%20MegCup%20%E7%82%BC%E4%B8%B9%E5%A4%A7%E8%B5%9B&tab=rank" target="_blank" rel="noopener"><i class="fa-solid fa-link"></i> Link</a>
        <a class="btn" href="https://github.com/hlh981029/megcup-feedback" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i> Code</a>
        <a class="btn btn-stat" href="https://github.com/hlh981029/megcup-feedback/stargazers" target="_blank" rel="noopener"><i class="fa fa-star"></i><span class="star"> ...</span></a>
        <a class="btn btn-stat" href="https://github.com/hlh981029/megcup-feedback/network" target="_blank" rel="noopener"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>
        <a class="btn btn-stat" href="https://github.com/hlh981029/megcup-feedback/watchers" target="_blank" rel="noopener"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
      </div>
    </div>
  </article>

  <article class="card pub-card reveal">
    <div class="pub-thumb fit-contain"><img src="https://oss.openmmlab.com/www/openmmlab_logo.png" alt="OpenMMLab logo" loading="lazy"></div>
    <div class="pub-info">
      <h3 class="pub-title"><a href="https://github.com/open-mmlab/mmagic" target="_blank" rel="noopener">Contribute to MMagic Framework</a></h3>
      <p class="pub-note">Contributor. Reduced the I/O consumption of the function "flow_warp". See <a href="https://github.com/open-mmlab/mmagic/issues/878" target="_blank" rel="noopener">Issue#878</a> and <a href="https://github.com/open-mmlab/mmagic/pull/881" target="_blank" rel="noopener">PR#881</a>.</p>
      <div class="pub-links ghbtn" user="open-mmlab" repo="mmagic">
        <a class="btn" href="https://github.com/open-mmlab/mmagic" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i> Code</a>
        <a class="btn btn-stat" href="https://github.com/open-mmlab/mmagic/stargazers" target="_blank" rel="noopener"><i class="fa fa-star"></i><span class="star"> ...</span></a>
        <a class="btn btn-stat" href="https://github.com/open-mmlab/mmagic/network" target="_blank" rel="noopener"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>
        <a class="btn btn-stat" href="https://github.com/open-mmlab/mmagic/watchers" target="_blank" rel="noopener"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
      </div>
    </div>
  </article>

  <article class="card pub-card reveal">
    <div class="pub-thumb"><img src="https://user-images.githubusercontent.com/21050959/159160843-4b167115-e338-4e0b-9ca4-b564233c2c7a.gif" alt="E2FGVI demo" loading="lazy"></div>
    <div class="pub-info">
      <h3 class="pub-title"><a href="https://github.com/MCG-NKU/E2FGVI" target="_blank" rel="noopener">Contribute to the Phenomenal Inpainting Method, E<sup>2</sup>FGVI</a></h3>
      <p class="pub-note">Contributor. Fixed the bug in the discriminator to support larger batch size. See <a href="https://github.com/MCG-NKU/E2FGVI/pull/13" target="_blank" rel="noopener">PR#13</a>.</p>
      <div class="pub-links ghbtn" user="MCG-NKU" repo="E2FGVI">
        <a class="btn" href="https://github.com/MCG-NKU/E2FGVI" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i> Code</a>
        <a class="btn btn-stat" href="https://github.com/MCG-NKU/E2FGVI/stargazers" target="_blank" rel="noopener"><i class="fa fa-star"></i><span class="star"> ...</span></a>
        <a class="btn btn-stat" href="https://github.com/MCG-NKU/E2FGVI/network" target="_blank" rel="noopener"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>
        <a class="btn btn-stat" href="https://github.com/MCG-NKU/E2FGVI/watchers" target="_blank" rel="noopener"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
      </div>
    </div>
  </article>

</div>
