  <h2>Selected Pubs</h2>
  <ul class="timeline">
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="images/gsror.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://github.com/NK-CS-ZZL" target="_blank">GS-ROR<sup>2</sup>: Bidirectional-guided 3DGS and SDF for Reflective Object Relighting and Reconstruction</a></h4>
          </div>
          <div class="timeline-body">
            
            <div>
              <strong>Zuo-Liang Zhu</strong>, Beibei Wang<sup>†</sup>, Jian Yang<sup>†</sup>
            </div>
            <div>
              ACM Transactions on Graphics (TOG), 2025
            </div>
            <div style="margin-top: 10px;">
            </div> 
            <div user="NK-CS-ZZL" repo="GS-ROR" class="ghbtn" style="margin-top: 10px;">
              <a href="https://arxiv.org/abs/2406.18544" target="_blank"><i class="fas fa-file-pdf"></i> Paper</a>&emsp;&emsp;
              <a href="projects/gsror/index.html" target="_blank"><i class="fa-solid fa-link"></i> Project Page</a>&emsp;&emsp;
              <a href="https://github.com/NK-CS-ZZL/GS-ROR" target="_blank"><i class="fa-brands fa-github"></i> Github</a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/NK-CS-ZZL/GS-ROR/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/NK-CS-ZZL/GS-ROR/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/NK-CS-ZZL/GS-ROR/watchers"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
              <div style="height: 10px;"></div>
            </div>
          </div>
      </li>
      <li class="timeline-inverted">
      <div class="timeline-image">
        <img class="img-me" src="images/dsdf.png" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4><a href="https://github.com/NK-CS-ZZL" target="_blank">Gaussian Splatting with Discretized SDF for Relightable Asset</a></h4>
        </div>
        <div class="timeline-body">
          
          <div>
            <strong>Zuo-Liang Zhu</strong>, Jian Yang<sup>†</sup>, Beibei Wang<sup>†</sup>
          </div>
          <div>
            International Conference on Computer Vision (ICCV), 2025
          </div>
          <div style="margin-top: 10px;">
          </div> 
          <div user="NK-CS-ZZL" repo="DiscretizedSDF" class="ghbtn" style="margin-top: 10px;">
            <a href="https://arxiv.org/abs/2507.15629" target="_blank"><i class="fas fa-file-pdf"></i> Paper</a>&emsp;&emsp;
            <a href="projects/dsdf/index.html" target="_blank"><i class="fa-solid fa-link"></i> Project Page</a>&emsp;&emsp;
            <a href="https://github.com/NK-CS-ZZL/DiscretizedSDF" target="_blank"><i class="fa-brands fa-github"></i> Github</a>&emsp;&emsp;
            <a target="_blank" href="https://github.com/NK-CS-ZZL/DiscretizedSDF/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;
            <a target="_blank" href="https://github.com/NK-CS-ZZL/DiscretizedSDF/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;
            <a target="_blank" href="https://github.com/NK-CS-ZZL/DiscretizedSDF/watchers"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
            <div style="height: 10px;"></div>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="https://user-images.githubusercontent.com/50139523/179220047-1b3256f3-b7eb-4943-928d-6a4de9803726.gif" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://github.com/NK-CS-ZZL/IAN" target="_blank">Designing An Illumination-Aware Network for Deep Image Relighting</a></h4>
          </div>
          <div class="timeline-body">
            
            <div>
              <strong>Zuo-Liang Zhu<sup>*</sup></strong>, Zhen Li<sup>*</sup>, Ruixun Zhang, Chun-Le Guo<sup>†</sup>, Ming-Ming Cheng
            </div>
            <div>
              IEEE Transactions on Image Processing (TIP), 2022
            </div>
            <div style="margin-top: 10px;">
            </div> 
            <div user="NK-CS-ZZL" repo="IAN" class="ghbtn" style="margin-top: 10px;">
              <a href="https://arxiv.org/abs/2207.10582" target="_blank"><i class="fas fa-file-pdf"></i> Paper</a>&emsp;&emsp;
              <a href="https://github.com/NK-CS-ZZL/IAN" target="_blank"><i class="fa-brands fa-github"></i> Github</a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/NK-CS-ZZL/IAN/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/NK-CS-ZZL/IAN/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/NK-CS-ZZL/IAN/watchers"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
              <div style="height: 10px;"></div>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="images/wdiff.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://arxiv.org/abs/2508.06982" target="_blank">WeatherDiffusion: Weather-Guided Diffusion Model for Forward and Inverse Rendering</a></h4>
          </div>
          <div class="timeline-body">
            <div>
              Yixin Zhu, <strong>Zuo-Liang Zhu</strong>, Miloš Hašan, Jian Yang<sup>†</sup>, Jin Xie, Beibei Wang<sup>†</sup>
            </div>
            <div>
              Computer Vision and Pattern Recognition (CVPR) <strong>Highlight</strong>, 2023
            </div>
            <div style="margin-top: 10px;">
            </div>
            <div user="YixinZhu042" repo="IntrinsicWeather" class="ghbtn" style="margin-top: 10px;">
              <a href="https://arxiv.org/abs/2508.06982" target="_blank"><i class="fas fa-file-pdf"></i> Paper</a>&emsp;&emsp;
              <a href="https://yixinzhu042.github.io/IntrinsicWeather/" target="_blank"><i class="fa-solid fa-link"></i> Project Page</a>&emsp;&emsp;
              <a href="https://github.com/YixinZhu042/IntrinsicWeather" target="_blank"><i class="fa-brands fa-github"></i> Github</a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/YixinZhu042/IntrinsicWeather/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/YixinZhu042/IntrinsicWeather/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/YixinZhu042/IntrinsicWeather/watchers"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
              <div style="height: 10px;"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="images/amt_demo.gif" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://github.com/MCG-NKU/AMT" target="_blank">AMT: All-Pairs Multi-Field Transforms for Efficient Frame Interpolation</a></h4>
          </div>
          <div class="timeline-body">
            <div>
              Zhen Li<sup>*</sup>, <strong>Zuo-Liang Zhu<sup>*</sup></strong>, Ling-Hao Han, Qibin Hou, Chun-Le Guo<sup>†</sup>, Ming-Ming Cheng
            </div>
            <div>
              Computer Vision and Pattern Recognition (CVPR), 2023
            </div>
            <div style="margin-top: 10px;">
            </div> 
            <div user="MCG-NKU" repo="AMT" class="ghbtn" style="margin-top: 10px;">
              <a href="https://arxiv.org/abs/2304.09790" target="_blank"><i class="fas fa-file-pdf"></i> Paper</a>&emsp;&emsp;
              <a href="projects/amt/index.html" target="_blank"><i class="fa-solid fa-link"></i> Project Page</a>&emsp;&emsp;
              <a href="https://github.com/MCG-NKU/AMT" target="_blank"><i class="fa-brands fa-github"></i> Github</a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/MCG-NKU/AMT/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/MCG-NKU/AMT/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/MCG-NKU/AMT/watchers"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
              <div style="height: 10px;"></div>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="images/WTRN_pipeline.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://github.com/zskuang58/WTRN-TIP" target="_blank">Wavelet-Based Texture Reformation Network for Image Super-Resolution</a></h4>
          </div>
          <div class="timeline-body">
            <div>
              Zhen Li<sup>*</sup>, Zeng-Sheng Kuang<sup>*</sup>, <strong>Zuo-Liang Zhu</strong>, Hong-Peng Wang, Xiu-Li Shao<sup>†</sup>
            </div>
            <div>
              IEEE Transactions on Image Processing (TIP), 2022
            </div>
            <div style="margin-top: 10px;">
            </div> 
            <div user="zskuang58" repo="WTRN-TIP" class="ghbtn" style="margin-top: 10px;">
              <a href="https://ieeexplore.ieee.org/document/9739966" target="_blank"><i class="fas fa-file-pdf"></i> Paper</a>&emsp;&emsp;
              <a href="https://github.com/zskuang58/WTRN-TIP" target="_blank"><i class="fa-brands fa-github"></i> Github</a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/zskuang58/WTRN-TIP/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/zskuang58/WTRN-TIP/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;
              <a target="_blank" href="https://github.com/zskuang58/WTRN-TIP/watchers"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
              <div style="height: 10px;"></div>
          </div>
        </div>
      </li>
  </ul>